body {
    background-image: url('./img/pokeball.jpg');
    background-image: no-repeat;
    background-size: 105%;
}

h1 {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 75px;
    color: rgb(240,240,0);

    -webkit-text-stroke: 5px rgb(16,69,212);
    text-shadow:
        5px 5px 0 rgb(23, 39, 83),
        -1px -1px 0 rgb(23, 39, 83),  
        1px -1px 0 rgb(23, 39, 83),
        -1px 1px 0 rgb(23, 39, 83),
        1px 1px 0 rgb(23, 39, 83)
}

h5 {
    color: white;
}

.table-left {
    position: relative;
    z-index: 2;
    margin-top: 10.8em;
    margin-left: 5em;
    font-family: 'Lato', sans-serif;
}

.table-height {
    position: relative;
    z-index: 2;
    margin-top: -10em;
    margin-left: 38.5em;
}

.table-weight {
    position: relative;
    z-index: 3;
    margin-top: -1.37em;
    margin-left: 45.2em;
}

.noBorder {
    border: none !important;
}

.pokedex {
    position: absolute;
    z-index: 1;
}

/* tr:hover {background-color: red;} */